## CFG file - Bridge
## Author: Hezus (hezussupastar@hotmail.com)

## Plz, do NOT change/wreck these settings !

startarmor 100
weapon_glock
weapon_crowbar
weapon_mp5
weapon_shotgun
weapon_crossbow
weapon_sniperrifle
skill 2
mp_multiplespawn 1
mp_monsterpoints 1
mp_timelimit 999
mp_fraglimit 0
mapcyclefile mapcycle.txt
mp_flashlight 0
mp_falldamage 0
mp_forcerespawn 0
mp_weaponstay 1
mp_radiovoice -1
mp_allowgaussjump 0
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 350
sv_wateraccelerate 10
sv_waterfriction 1
